@import url('https://googleapis.com');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
}

body {
  @apply bg-[#f0f2f5] m-0 overflow-hidden;
}

/* Красивый тонкий скроллбар */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Убираем контур у инпутов */
input:focus {
  outline: none;
}
